<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hasee.cardreviewv3">

    <uses-permission android:name="android.permission.INTERNET" />
    //储存卡的读取权限
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    //调用相机权限
    <uses-permission android:name="android.permission.CAMERA" />





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity">
            Android:windowSoftInputMode="stateunspeciedadjustPan"
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".MineFragmentActivitise.FeedbackActivity" />
        <activity android:name=".MineFragmentActivitise.UserActivity" />
        <activity android:name=".MineFragmentActivitise.MinegameActivity" />
        <activity android:name=".MineFragmentActivitise.MinescoreActivity" />
        <activity android:name=".SearchFragmentActivitise.SearchViewActivity" />
        <activity android:name=".ReviewFragmentActivitise.AddCard" />
        <activity
            android:name=".ReviewFragmentActivitise.DialogchoosebagActivity"
            android:theme="@style/dialogTheme" />
        <activity android:name=".BagFragmentActivitise.AddBag" />
        <activity android:name=".activity.Register"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.hasee.cardreviewv3.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>





    </application>

</manifest>